{% extends '::template.html.twig' %}

{% block title -%}
        <title>{{"Agora - Connexion/Inscription"|trans}}</title>
    
{% endblock %}
{% block body -%}
  
    
    <!-- Breadcromb Area Start -->
    <section class="finance-breadcromb-area section_50">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="breadcromb-left">
                        <h3>{{"Modification du mot de passe"|trans}}</h3>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="breadcromb-right">
                        <ul>
                            <li><a href="{{ path('homepage')}}"><i class="fa fa-home"></i>{{"Accueil"|trans}}</a></li>
                            <li>/</li>
                            <li><a href="{{ path('fos_user_security_login')}}">{{"Connexion"|trans}}</a></li>
                            <li>/</li>
                            <li>{{"Modifier"|trans}}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcromb Area End -->
    
    
    
    <!-- Myaccount Area Start -->
    <section class="finance-myaccount-area section_15">
        <div class="container">
            <div class="row"style="text-align: center;" >
                <div class="col-md-4 ">
                    <br/> 
                </div>    
                <div class="col-md-5 ">    <!-- Material Login -->
								<h2 class="section-title">{{"Modification du mot de passe"|trans}}</h2>
                                <div class="card">
                                    <div class="card-header bg-teal bg-inverse">
                                        <h4>{{"Changer le mot de passe"|trans}}</h4>
                                        
                                    </div>
                                    <div class="card-block">
{% include "@FOSUser/ChangePassword/change_password_content.html.twig" %}
</div>
                                    <!-- .card-block -->
                                </div>
                                <!-- .card -->
                                <!-- End Material Login -->
                            </div>
            </div>
        </div>
    </section>
    <!-- Myaccount Area End -->
    
    
     {% endblock %}