{% extends 'template.html.twig' %}

{% block title %}Eleve index{% endblock %}

{% block body %}
     <div class="panel">
        <div class="panel-heading">
            <h3 class="panel-title">Basic Data Tables with responsive plugin</h3>
        </div>
        <div class="panel-body">
            <h1>Eleve index</h1>
            <table class="table" id="studentTable">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nom</th>
                        <th>Prenom</th>
                        <th>Sexe</th>
                        <th>DateDeNaissance</th>
                        <th>LieuDeNaissance</th>
                        <th>Matricule</th>
                        <th>actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for eleve in eleves %}
                        <tr>
                            <td>{{ eleve.id }}</td>
                            <td>{{ eleve.nom }}</td>
                            <td>{{ eleve.prenom }}</td>
                            <td>{{ eleve.sexe }}</td>
                            <td>{{ eleve.dateDeNaissance ? eleve.dateDeNaissance|date('Y-m-d') : '' }}</td>
                            <td>{{ eleve.lieuDeNaissance }}</td>
                            <td>{{ eleve.matricule }}</td>
                            <td>
                                <a href="{{ path('eleve_show', {'id': eleve.id}) }}">show</a>
                                <a href="{{ path('eleve_edit', {'id': eleve.id}) }}">edit</a>
                                {% if eleve.etatInscription == false %}
                                    <a href="{{ path('inscrire', {'id': eleve.id}) }}">Inscire</a>
                                {% endif %}
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="8">no records found</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            <a class="btn" href="{{ path('eleve_new') }}">Create new</a>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script type="text/javascript">
        $("table#studentTable").DataTable();
    </script>
{% endblock %}

