{% extends 'template.html.twig' %}

{% block title %} <title>Eleve | détails</title> {% endblock %}

{% block hearder %}
<div class="pageheader">
                        <h3><i class="fa fa-home"></i>Accueil </h3>
    <div class="breadcrumb-wrapper">
        <span class="label">vous êtes ici:</span>
            <ol class="breadcrumb">
                <li> <a href="#"> Accueil </a> </li>
                <li class="active"> Détails d'un élève </li>
            </ol>
     </div>
</div>
			{% endblock %} 
{% block body %}
    <h1>Détails d'un élève</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ eleve.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ eleve.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ eleve.prenom }}</td>
            </tr>
            <tr>
                <th>Sexe</th>
                <td>{{ eleve.sexe }}</td>
            </tr>
            <tr>
                <th>DateDeNaissance</th>
                <td>{{ eleve.dateDeNaissance ? eleve.dateDeNaissance|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>LieuDeNaissance</th>
                <td>{{ eleve.lieuDeNaissance }}</td>
            </tr>
            <tr>
                <th>Matricule</th>
                <td>{{ eleve.matricule }}</td>
            </tr>
        </tbody>
    </table>
</div>
    
{% endblock %}
