{% extends '::template1.html.twig' %}

{% block title -%}
        <title>{{"Modifier mon dossier"|trans}}</title>
    
{% endblock %}
{% block body -%}
    ﻿  <!-- Intro Section -->
  <section class="inner-intro bg-img overlay-bg-color light-color parallax parallax-background">
    <div class="">
      <div class="row title text-center"><br>
        <h2 class="h2">{{"Modifier mon profil"|trans}}</h2>
        <div class="page-breadcrumb"> <a>{{"Accueil"|trans}}</a>/<span>{{"Modifier"|trans}}</span> </div>
      </div>
    </div>
  </section>
  
  <!-- End Intro Section --> 
  
  <!-- Login Section -->
  <div id="Pricing" class="ptb ptb-sm-0 page-signin2">
    <div class="">
        
      <div class="row">
        
          <div class="main-body">
          <div class="body-inner">
            <div class="card bg-white">
              <div class="card-content">
            <div class="row">
                <div class="col-sm-3 center-top2 doctor-info">
                    <b>{{"Photo de profil"|trans}}</b>
            <img src="{{ app.request.basePath }}/images/utilisateurs/{{ utilisateur.photo }}" alt="" width="100%" class="img-responsive">
				
                </div>
            <div class="col-sm-8" align="center">
            <br><br><h2>{{"Modifier mon profil"|trans}}</h2><br>
            <br>
            {% if app.user.categorie=="Médecin" %}
                <b>{{"Attestation d'enregistrement à l'ONMC ou diplôme"|trans}}</b>
                {% if app.user.fichier!=null %}
                <div class="center-bottom"> <a class="btn btn-md btn-color-line" href="{{ app.request.basePath }}/images/utilisateurs/fichier/{{ utilisateur.fichier }}" download>{{"Télécharger"|trans}}</a> </div>
                {% else %}
                    <div>{{"Aucun"|trans}}</div>
                {% endif %}
                
            {% endif %}        
                </div>
            </div>
                  
            <section class="logo text-center">
                  

                </section>
                  {% include "@FOSUser/Profile/edit_content.html.twig" %}
                
              </div>
                  
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Login Section --> 
 
   
    
     {% endblock %}