{% extends 'template.html.twig' %}

{% block title %}Annee index{% endblock %}

{% block body %}
<a class="btn btn-info" href="{{ path('annee_new') }}"><i class="fa fa-user-plus" ></i> Ajouter une nouvelle annee</a> 


    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>DateDebut</th>
                <th>DateFin</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for annee in annees %}
            <tr>
                <td>{{ annee.id }}</td>
                <td>{{ annee.dateDebut ? annee.dateDebut|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ annee.dateFin ? annee.dateFin|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('annee_show', {'id': annee.id}) }}">show</a>
                    <a href="{{ path('annee_edit', {'id': annee.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td class="text-center" colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
