{% extends 'template.html.twig' %}

{% block title %} <title>Salle | liste</title> {% endblock %}

{% block hearder %}
<div class="pageheader">
                        <h3><i class="fa fa-home"></i>Accueil </h3>
                        <div class="breadcrumb-wrapper">
                            <span class="label">vous êtes ici:</span>
                            <ol class="breadcrumb">
                                <li> <a href="#"> Accueil </a> </li>
                                <li class="active"> Liste des salles </li>
                            </ol>
                        </div>
                    </div>
			{% endblock %}

{% block body %}
<div id="page-content">
     <div class="panel">
                            <div class="panel-heading">
                                <h3 class="panel-title">Basic Data Tables with responsive plugin</h3>
                            </div>
                            <div class="panel-body">
                                <table id="demo-dt-basic" class="table table-striped table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Libelle</th>
                                            <th>actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for salle in salles %}
                                            <tr>
                                            <td>{{ salle.libelle }}</td>
                                            
                                            <td>
                                               <a class="btn btn-success" title="éditer" href="{{ path('salle_edit', { 'id': salle.id }) }}"><i class="fa fa-edit"></i></a>
                                                <a class="btn btn-danger" data-toggle="modal" data-target="#modal-default{{ salle.id }}" title="Supprimer" ><i class="glyphicon glyphicon-corbeille" ></i></a>
                                                <a class="btn btn-info " title="Détails"  href="{{ path('salle_show', { 'id': salle.id }) }}"><i class="fa fa-info-circle" ></i></a> 
                                                <a class="btn btn-info " title="Liste des élèves"  href="{{ path('eleve_salle', { 'id': salle.id}) }}"><i class="glyphicon glyphicon-list" ></i></a> 
                                             </td>
                                           
                                         </tr>
                                         {% else %}
                                        <tr>
                                            <td colspan="3">no records found</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        
 </div>
{% endblock %}
{% block javascript %}

{% endblock %}
