{% extends 'template.html.twig' %}

{% block title %} 
Eleves | liste 
{% endblock %}

{% block hearder %}
<div class="pageheader">
                        <h3><i class="fa fa-home"></i>Accueil </h3>
                        <div class="breadcrumb-wrapper">
                            <span class="label">vous êtes ici:</span>
                            <ol class="breadcrumb">
                                <li> <a href="#"> Accueil </a> </li>
                                <li class="active"> Liste des élèves </li>
                            </ol>
                        </div>
                    </div>
			{% endblock %}

{% block body %}
    <a class="btn btn-info "  href="{{ path('imprime_liste',{id: app.request.uri}) }}">
        <i class="fa fa-user-plus" ></i> Imprimer la lite
    </a> 
    <br><br>
    <div class="panel">
        <div class="panel-heading">
            <h3 class="panel-title" style="text-align: center;">Classe :  > Liste des élèves</h3>
        </div>
        <div style="margin-left: 20px">
            <h4>Nombre total d'élèves : {{eleves | length}}</h4> 
            <h4>Nombre total de filles : {{nbf}} </h4> 
            <h4>Nombre total de garçons : {{nbg}}</h4> 
        </div> 
        <div class="panel-body">
            <table id="studentTable" class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Matricule</th>
                        <th>Nom et prénom</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for eleve in eleves %}
                    <tr>
                        <td>{{ eleve.matricule }}</td>
                        <td>{{ eleve.nom}} {{eleve.prenom}}</td>
                        
                        <td>
                            <a class="btn btn-success" title="éditer" href="{{ path('eleve_edit', { 'id': eleve.id }) }}"><i class="fa fa-edit"></i></a>
                            <a class="btn btn-danger" data-toggle="modal" data-target="#modal-default{{ eleve.id }}" title="Supprimer" ><i class="glyphicon glyphicon-trash" ></i></a>
                            <a class="btn btn-info " title="Détails"  href="{{ path('eleve_show', { 'id': eleve.id }) }}"><i class="fa fa-info-circle" ></i></a> 
                            <a class="btn btn-warning " title="Achat accessoire"  href="{{ path('acheter_new', { 'id': eleve.id }) }}"><i class="glyphicon glyphicon-shopping-cart" ></i></a> 
                        </td>
                    </tr>
                    {% endfor %}       
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script type="text/javascript">
        $("table#studentTable").DataTable();
    </script>
{% endblock %}