{% extends 'print/base.html.twig' %}

{% block name %}ATTESTATION DE PAIEMENT DES DROITS D'INSCRIPTIONS{% endblock %}

{% block body %}
  <div class="col-pk-10">RECU N<sup>o</sup>: {{ inscription.code }}</div>
  <div class="col-pk-10">Matricule: <span class="h3">{{ inscription.eleve.matricule }}</span></div>
  <div class="col-pk-10">Nom et Prenom: <span class="h3">{{ inscription.eleve.nom }} {{ inscription.eleve.prenom }}</span></div>
  <div class="col-pk-10">Date de Naissance: <span class="h3">{{ inscription.eleve.dateDeNaissance | date("m/d/Y") }}</span></div>
  <div class="col-pk-10">Sexe: <span class="h3">{{ inscription.eleve.sexe }}</span></div>
  <div class="col-pk-10">Classe: <span class="h3">{{ inscription.eleve.salle.libelle }}</span></div>
{% endblock %}
